@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #1A7BAE;
  font-family: 'Muli', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face { font-family: Lemon; src: url('../assets/lemon_friday/Lemon Friday.ttf'); }
@font-face { font-family: Spring; src: url('../assets/lemon_friday/Spring Garden.ttf'); }
@font-face { font-family: tpw; src: url('../assets/lemon_friday/typew.otf'); }


h1 {
    color: black;
    position: relative;
    position: absolute;
    left: 38%;
    top: 2%;
    font-size: 40px;
    font-family: "Lemon";
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    letter-spacing: 1px;
}

h1:after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    bottom: -8px;
    background: black;
    transition: 500ms all ease-in-out;
}



a.opcion {
  display: block;
  position: absolute;
	padding: 13px 39px;
  text-align: center;
  font-family: "tpw";
  color: rgba(255, 255, 255, 1);
  background-color: rgba(41, 50, 78, 0.7);
  text-decoration: none;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
}

a.opcion:hover {
  background-color: rgba(41, 50, 78, 1);
}

.contenedor {
 
  width: 95%;
  height: 95%;
  position: relative;
  margin: auto;
  padding: 20px;
  
}
.contenedor .mitad {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.contenedor .mitad.izquierda {
  left: 0;
  background: url("../assets/5781.jpg") center center no-repeat;
  background-size: cover;
}
.contenedor .mitad.izquierda:before {
  content: "";
  width: 100%;
  height: 100%;
 /* background: rgba(255, 0, 120, 0.5);*/
  position: absolute;
}
.contenedor .mitad.derecha {
  right: 0;
  background: url("../assets/right.jpg") center center no-repeat;
  background-size: cover;
}
/*.contenedor .mitad.derecha:before {
  content: "";
  width: 100%;
  height: 100%;
  /*background: rgba(25, 120, 220, 0.5);
  position: absolute;
}
.contenedor .mitad.izquierda, .contenedor .mitad.derecha {
  transition: 500ms all ease-in-out;
}
.contenedor .mitad.izquierda:before, .contenedor .mitad.derecha:before {
  transition: 500ms all ease-in-out;
}
.contenedor.izquierda-is-hovered .izquierda {
  width: 85%;
}
.contenedor.izquierda-is-hovered .izquierda h1:after {
  width: 100%;
}
.contenedor.izquierda-is-hovered .derecha {
  width: 15%;
}
.contenedor.izquierda-is-hovered .derecha:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.contenedor.derecha-is-hovered .derecha {
  width: 85%;
}
.contenedor.derecha-is-hovered .derecha h1:after {
  width: 100%;
}
.contenedor.derecha-is-hovered .izquierda {
  width: 15%;
}
.contenedor.derecha-is-hovered .izquierda:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}*/